From ViewModel:<br/><br/>
<span title="{{ _('Name of file currently selected for printing') }}">{{ _('File') }}</span>: <strong data-bind="text: filename, attr: {title: filepath}"></strong><br/>
<span title="{{ _('Slicing software used') }}">{{ _('Slicer') }}</span>: <strong data-bind="text: plugin_slicinginfo_slicer">-</strong><br/>
<br/>
<span title="{{ _('Number of layers in part') }}">{{ _('Layers') }}</span>: <strong data-bind="text: filepath">-</strong><br/>
<br/>
<span title="{{ _('Printer profile which was selected') }}">{{ _('Printer profile') }}</span>: <strong data-bind="text: settings.settings.plugin.SlicingInfoViewModel.michael">-</strong><br/>
<span title="{{ _('Hotend temperature') }}">{{ _('Hotend Temp') }}</span>: <strong data-bind="text: settings.settings.plugin.slicingInfoViewModel.michael">-</strong><br/>
<span title="{{ _('Bed temperature') }}">{{ _('Bed Temp') }}</span>: <strong data-bind="text: plugin_slicinginfo_michael">-</strong><br/>
<br/>
From settings: {{ plugin_slicinginfo_slicer }}<br/>
From settings: {{ plugin_slicinginfo_michael }}

